<div class="col-lg-12 mx-auto">
    <form name="searchForm" method="GET" action="https://www.google.co.kr/search" data-toggle="validator" role="form">
        <div class="form-group">
            <label for="exampleInputSearch">Search</label>
            <input type="text" name="q" class="form-control" id="exampleInputSearch" placeholder="검색어" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>